{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container-update-profile">
  <form class="update-form" action="" method="post">
    {{updateform.hidden_tag()}}
    <div class="update-input">
      <!-- <label class="form-label" for="email">Email</label> -->
      {{updateform.firstname(type="text" ,id="f-name",class="form-control form-control-lg", placeholder="First Name")}}
    </div>
    <div class="update-input">
      <!-- <label class="form-label" for="email">Email</label> -->
      {{updateform.phonenumber(type="number" ,id="phone",class="form-control form-control-lg", placeholder="Phone Number")}}
    </div>
    <div class="update-input">
      <!-- <label class="form-label" for="email">Email</label> -->
      {{updateform.biography(type="text" ,id="bio",class="form-control form-control-lg", placeholder="About you")}}
    </div>
    <div class="update-btn">
      {{updateform.submit(class="btn btn-outline-dark btn-lg px-5",type="submit")}}
    </div>
  </form>
</div>
{% endblock %}