{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block content %}
<div class="container-login">
  <div class="login-greeting-txt">
    <h1 style="font-size: 50px; ">
      Welcome, please login to continue.
    </h1>
  </div>
  
  <form class="login-form" action="/login" method="post">
    {{form.hidden_tag()}}
  
    <div class="login-input">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      
      </div>
      {% endfor %}
      <!-- <label class="form-label" for="email">Email</label> -->
      {{form.email(type="email" ,id="email",class="form-control form-control-lg", placeholder="E-mail")}}
   
    </div>
    <div class="login-input">
      {{form.password(type="password" ,id="password",class="form-control form-control-lg", placeholder="Password")}}
    </div>
    <div class="remember-me">
      {{form.remember(class="form-control form-control-lg")}}
      <span class="remember-me-label">
        Remember Me
      </span>
    </div>
    <div class="login-btn">
      {{form.submit(class="btn btn-outline-dark btn-lg px-5",type="submit")}}
    </div>
  </form>
</div>

{% endblock %}