{% import 'bootstrap/wtf.html' as wtf %}

{% extends 'base.html'%}


{% block content %}
<div class="container-register">
  <div class="register-greeting-txt">
    <h1 style="font-size: 50px; ">
      Welcome, please sign up to continue.
    </h1>
  </div>
  <form class="register-form" action="/register" method="post">
    {{form.hidden_tag()}}
    <div class="register-input">
      <!-- <label class="form-label" for="f-name">First Name</label> -->
      {{form.firstname(type="text" ,id="email",class="form-control form-control-lg", placeholder="First Name")}}
    </div>
    <div class="register-input">
      {{form.middlename(type="text" ,id="m-name",class="form-control form-control-lg", placeholder="Middle Name")}}
    </div>
    <div class="register-input">
      {{form.lastname(type="text" ,id="l-name",class="form-control form-control-lg", placeholder="Last Name")}}
    </div>
    <div class="register-input">
      {{form.email(type="email" ,id="email",class="form-control form-control-lg", placeholder="E-mail")}}
    </div>
    <div class="register-input">
      {{form.phonenumber(type="number" ,id="phone",class="form-control form-control-lg", placeholder="Phone No.")}}
    </div>
    <div class="register-input">
      {{form.password(type="password" ,id="password",class="form-control form-control-lg", placeholder="Password")}}
    </div>
    <div class="register-input">
      {{form.password_confirm(type="password",id="password",class="form-control form-control-lg", placeholder="Confirm Password")}}
    </div>
    <div class="register-btn">
      {{form.submit(class="btn btn-outline-dark btn-lg px-5",type="submit")}}
    </div>
  </form>
</div>
{% endblock %}