{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block content %}
<div class="container-home">
    <section class="landing-section">
        <div class="hero-text">
            <h1 style="font-size: 50px;">Keep track of your properties the easy way.</h1>
            <button class="hero-btn"><a href="/register">Register Now</a></button>
        </div>
    </section>
</div>


    <section class="about-us-section" id="about-us">
        <div class="about-us-img-container">
         
        </div>
        <div class="about-us-container">
            <div class="about-us-title">
                <h3>About Us</h3>
            </div>
            <div class="about-us-text">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sit dignissimos sequi id quas asperiores dolores omnis sint architecto, recusandae vitae facere minus incidunt dolorum blanditiis ullam corporis ab delectus unde est voluptas voluptates aspernatur accusantium. Ipsam qui quas dolores veritatis quisquam, possimus dolorem voluptatibus aperiam natus eum expedita velit, quo, nisi non. Quisquam iusto praesentium explicabo reprehenderit quos totam illo incidunt, laboriosam nobis adipisci ut aspernatur laborum sequi, rerum ipsum atque. Atque, id. Unde doloremque fugit iste, et consequuntur ea quas corrupti. Placeat repellendus neque quaerat consequatur vel est fugit voluptates? Totam illo voluptatibus optio fugiat, sed eos animi.
                </p>
            </div>
        </div>
    </section>

    <section class="testimonials-section">
        <div class="testimonials-title">
            TESTIMONIALS
            <hr>
        </div>
        <div class="testimonials-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eveniet, accusantium quaerat ea facilis at veritatis doloremque expedita nesciunt optio repellat qui minus aut. Distinctio, voluptatum modi atque reprehenderit doloribus ab blanditiis voluptate assumenda sequi dolore quasi aliquid, vitae quo inventore quam ullam ex natus minima possimus! Aut, voluptates officia!
        </div>
        <div class="testimonials-pic-container">
            <div class="testimonials-pic a">

            </div>
            <div class="testimonials-pic b">

            </div>
            <div class="testimonials-pic c">

            </div>
            <div class="testimonials-pic d">

            </div>
        </div>

        <div class="testimonials-quote-container">
            <div class="testimonials-quotes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam soluta voluptate suscipit repellendus excepturi quis? Placeat esse molestiae et.
            </div>
            <div class="testimonials-quotes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam soluta voluptate suscipit repellendus excepturi quis? Placeat esse molestiae et.
            </div>
            <div class="testimonials-quotes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam soluta voluptate suscipit repellendus excepturi quis? Placeat esse molestiae et.
            </div>
            <div class="testimonials-quotes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam soluta voluptate suscipit repellendus excepturi quis? Placeat esse molestiae et.
            </div>
        </div>
    </section>
</div>

{% endblock %}