

    <nav class="nav" id="nav">
        <div class="container">
            <h1 class="logo"><a href="/">My Website</a></h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
     
                <li><i class="fa fa-user-plus" aria-hidden="true"></i><a href="{{url_for('auth.register')}}">Logout</a></li>
    
                <li><i class="fa fa-user-plus" aria-hidden="true"></i><a href="{{url_for('auth.register')}}">Register</a></li>
                <li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="{{url_for('auth.login')}}">Login</a></li> 
              
            </ul>
        </div>
    </nav>